.htaccess
*.log
*.zip
*.tar
*.gz
.DS_Store

.sass-cache

downloads
favicon.gif
favicon.ico
index.php
license.txt
readme.html
README.md
web.tar.gz
wp-activate.php
wp-admin
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-config.php*
wp-cron.php
wp-includes
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

wp-content/_archive/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/
wp-content/backupwordpress*
sitemap.xml

