/* =Comments
----------------------------------------------- */

#comments {
  clear: both;
  margin: 20px 0;
  padding: 15px;
  text-align: left;
  width: 600px;
}

article.comment {
  display: block;
}

#comments #comments-title {
  background: $gray07;
  border-radius: 3px;
  color: $gray02;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 20px;
  font-weight: normal;
  padding: 5px 20px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  em {
    color: $white;
    font-style: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  }
}

.commentlist {
  margin-left: 40px;
  padding-left: 0;
  .comment {
    list-style-type: none;
    margin: 40px 0;
    padding-left: 10px;
  }
}

.comment {
  position: relative;
  .comment-author cite {
    font-style: normal;
    font-weight: bold;
  }
  .comment-meta {
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 5px;
    a {
      color: $gray06;
    }
  }
  p {
    color: $gray07;
    font-size: 14px;
    line-height: 20px;
  }
  img.avatar {
    border: 1px solid $gray03;
    border-radius: 5px;
    left: -40px;
    position: absolute;
  }
}

#comments .bypostauthor > .comment-body {
  background: $gray02;
  border-radius: 3px;
  color: $black;
  margin: 1em 0 3em;
  padding: 15px;
  position: relative;
  .comment-meta {
    right: 15px;
    top: 18px;
  }
}

.comment .reply a, .trackback .reply a, .pingback .reply a {
  background: $gray02;
  border: 1px solid $gray02;
  border-radius: 3px;
  color: $gray07;
  font-size: 13px;
  padding: 3px 8px;
  text-decoration: none;
}

.comment .reply a:hover, .trackback .reply a:hover, .pingback .reply a:hover {
  background: $gray02;
  border-color: $gray03;
  text-decoration: none;
}

#respond {
  #reply-title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .comment-notes {
    color: $gray07;
    font-size: 13px;
    margin-top: 5px;
  }
  input[type=text], textarea {
    border: 1px solid $gray03;
    border-radius: 3px;
    margin: 6px 0;
    padding: 8px;
  }
  input[type=text] {
    display: block;
    width: 60%;
  }
  textarea {
    display: block;
    margin-bottom: 1em;
    width: 80%;
  }
  label {
    background: $red;
    border-radius: 3px;
    color: #c8f1ec;
    font-size: 13px;
    padding: 3px 5px;
  }
  .form-allowed-tags {
    display: none;
  }
  input[type=submit] {
    font-size: 18px;
  }
}