/* =Layout
----------------------------------------------- */
#container {
  height: auto;
  margin: 0 auto;
  // width: 800px;
  width: 100%;
  @include breakpoint(small) {
      width: 95%;
  }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 170px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    &.shrink {
      height: 80px;
    }
}

.logged-in {
  header {
    top: 28px;
    @include breakpoint(small) {
      top: 46px;
    }
  }
}

#contents {
  width: 800px;
  height: auto;
  margin: 167px auto 0  auto;
  padding-bottom: 10px;
    @include breakpoint(small) {
      width: 95%;
      margin-left: auto;
  }
}

/* =Containers
----------------------------------------------- */

main {
  section {
    article {
      float: right;
      width: 580px;
      border-left: 1px solid $gray03;
      padding-top: 1.3em;
    }
    aside {
      float: left;
      width: 190px;
      height: 100%;
      padding-top: 1em;
      // margin: 35px 0 0 -199px;
    }
    @include breakpoint(small) {
      article,
      aside {
        float: none;
        width: 100%;
        padding-left: 0;
      }
      article {
        border-left: none !important;
      }
      aside {
        margin-left: 0;
        text-align: center;
      }
    }
  }
  height: auto;
  clear: both;
  position: relative;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }

}


