/******************************************************************
Site Name:
Author:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/




/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/

/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  // font-family: $serif;
  font-style: italic;
}

// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


/*********************
TRANSITION
*********************/

/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/

@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

// MIXINS

@mixin no-bullets {
  list-style: none;
  li {
    @include no-bullet; 
  } 
}

@mixin no-bullet {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px; 
}

@mixin header-style ($family: $header-font-family, $size: $h2-font-size, $transform: uppercase, $color: $text-color-prominent, $weight: normal) {
  font-size: $size;
  font-family: $family;
  color: $color;
  text-transform: $transform;
  font-weight: $weight;
}

@mixin body-text ($family: $font-body, $size: $base-font-size, $line-height: $base-line-height + 2, $color: $text-color, $weight: normal, $transform: none ) {
  font-size: $size;
  font-family: $family;
  color: $color;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;
}

@mixin standard-border ($color: $rules-color, $width: 1px, $style: solid) {
  color: $color;
  width: $width;
  style: $style;
}

@mixin standard-links ($color: $anchor-color, $vcolor: $anchor-color, $hcolor: $anchor-color, $weight: normal, $text-decoration: none, $text-transform: none, $border: none) {
  a,
  a:link {
    border: $border;
    color: $color;
    font-weight: $weight;
    text-decoration: $text-decoration;
  }
  a:visited {
    border: $border;
    color: $vcolor;
    text-decoration: $text-decoration;
  }
  a:hover {
    border: $border;
    color: $hcolor;
    text-decoration: $text-decoration;
  }
}

/*********************
ICONS
*********************/

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

