
// colors
$white: #fff;
$black: #000;

$green: #c8f1ec;
$red: #cf0f00;

$gray01: #f1f1f1;
$gray02: #ddd;
$gray03: #aaa;
$gray04: #888;
$gray05: #777;
$gray06: #666;
$gray07: #555;
$gray08: #444;
$gray09: #333;

$black_22: rgba(0, 0, 0, 0.22);
$white_70: rgba(255, 255, 255, 0.7);
$black_10: rgba(0, 0, 0, 0.1);
$black_40: rgba(0, 0, 0, 0.4);

// fonts
$sans: sans-serif;
$serif: serif;
$helvetica: 'Helvetica Neue';
$arial: Arial;
$oswald: Oswald;
$georgia: Georgia;

$header-font: $oswald, $sans;
$body-font: $helvetica, $sans;
$serif-font: $georgia, $serif;

// font sizes
$base-size: 16px;
$h1-size: 2.5rem;
$h2-size: 2.25rem;
$h3-size: 2rem;
$h4-size: 1,75rem;
$h5-size: 1.25rem;

// breakpoints
$largescreen: 1200px;
$mediumscreen: 992px;
$smallscreen: 799px;
$xsmallscreen: 480px;

 @mixin breakpoint($point) {
   @if $point == large {
     @media (min-width: $largescreen) { @content ; }
  }
   @else if $point == medium {
     @media (min-width: $mediumscreen) { @content ; }
  }
    @else if $point == small {
     @media (max-width: $smallscreen) { @content ; }
  }
  @else if $point == xsmall {
     @media (max-width: $xsmallscreen)  { @content ; }

  }
}



