/* =Images
-------------------------------------------------------------- */

a img {
  border: none;
}

p img {
  margin-bottom: 0.5em;
  /* a small bottom margin prevents content floating under images */
}

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/

img {
  &.size-auto, &.size-full, &.size-large, &.size-medium {
    max-width: 100%;
    /* When images are too wide for containing element, force them to fit. */
    height: auto;
    /* Override height to match resized width for correct aspect ratio. */
  }
}

.attachment img, .widget-area img {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}

img {
  &.alignleft {
    margin-right: 1em;
  }
  &.alignright {
    margin-left: 1em;
  }
}

.wp-caption {
  background: $gray02;
  border-radius: 3px;
  margin-bottom: 10px;
  max-width: 100%;
  padding: .8em;
  text-align: center;
  img {
    margin: 0;
  }
  a {
    img, &:hover img {
      border: none;
    }
  }
  .wp-caption-text {
    color: $gray06;
    font-size: 12px;
    margin: .5em;
  }
}

.gallery-caption {
  color: $gray06;
}

.wp-smiley {
  margin: 0;
}

.attachment {
  .hentry .entry-meta .navigation {
    margin: 10px 0 0;
  }
  .navigation {
    img {
      border: 5px solid $gray02;
    }
    a:hover img {
      border-color: $black;
    }
  }
}