/* =Menu
----------------------------------------------- */

#access a {
  color: $gray04;
  display: block;
  text-decoration: none;
}

#menu {
  display: none;
  ul ul {
    display: none;
    float: right;
    position: absolute;
    right: 0;
    top: 2em;
    z-index: 99999;
    ul {
      right: 100%;
      top: 0;
    }
    a {
      background: $gray02;
      border-bottom: 1px solid $gray02;
      display: block;
      font-size: 14px;
      height: auto;
      line-height: 1em;
      margin: 0;
      padding: .8em .5em .8em 1em;
      width: 130px;
    }
    li:last-of-type a {
      border-bottom: none;
    }
  }
  li:hover > a {
    color: $gray08;
  }
  ul {
    ul {
      :hover > a {
        color: $gray08;
      }
      a:hover {
        background: #f0f0f0;
      }
    }
    li {
      &:hover > ul {
        display: block;
      }
      &.current_page_item > a, &.current_page_ancestor > a, &.current-menu-item > a {
        color: $black;
      }
    }
    &:after {
      clear: both;
      content: ' ';
      display: block;
    }
  }
}