/* == IE 8 CSS == */

.social-profile,#search-button {
border:0 none;
filter:alpha(opacity=100);
}

article.grid .post-audio {
display:none;
}

article.grid .ie-audio-link {
display:block;
}

.entry-content .last,.comment-content .last {
margin-bottom:0;
}